<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lachula">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/negro_logo_chula"
        android:label="@string/app_name"
        android:roundIcon="@drawable/negro_logo_chula"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- para utilizar el google maps-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCLJQnIf0VVarBfhjijoCxWVoaJ8mYJ8mw">
        </meta-data>

        <activity android:name="ui.activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.lachula.MainActivity">

        </activity>
    </application>

</manifest>